  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>商品一覧</h5>
    </div>
  </div>
  <br>

  <table class="table">
   <thead>
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
    </tr>
   </thead>
   <tbody>
     <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= item.id %></th>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
    </tr>
     <% end %>

   </tbody>
  </table>
