 <div class="row justify-content-md-center my-5">
   <div class="information Image">
     <div class="clearfix">
        <img src"..." class="col-md-6 float-md-center" alt="...">

    </div>
    <div class="col col-md-auto">
       <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
 </div>