  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>注文情報入力</h5>
    </div>
  </div>

<div class="row">
  <span>支払い方法</span>
  <div class="col-auto">
  <%= form_with model:@order, url: orders_path(@order.id), method: :patch do |f| %>
  <%= Order.payment_methods_i18n %>
  <% end %>
  </div>
</div>